certifi
Click
dnspython
dominate
eventlet
Flask
Flask-Bootstrap
Flask-MQTT
Flask-SocketIO
greenlet
itsdangerous
Jinja2
MarkupSafe
monotonic
paho-mqtt
python-engineio
python-socketio
six
typing
visitor
Werkzeug
